.cardCustom{
    background-color: rgba(17, 25, 40, 0.57);
    color: var(--text-color);
    font-size: 1.2rem;
}
.cardCustom:hover{
    background-color: rgba(13, 18, 27, 0.57);
    color: var(--text-color);
    transform: scale(1.05);
    transition: transform s;
}

.cardCustom div a{
    color: var(--text-color);
    padding: 6px 10px;
    border-radius: 8px;
    background-color: rgba(17, 25, 40, 0.57);
}

.cardCustom div a:hover{
    color: var(--text-color);
    padding: 6px 10px;
    border-radius: 8px;
    background-color: rgba(7, 9, 14, 0.57);
}

/* carousel */

.imgCustom{
    height: 700px;
    object-fit: cover;
}
