.FormLoginRegister {
    position: absolute;
    z-index: 30;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -60%);
    pointer-events: auto;
}

.FormLoginH2{
    position: absolute;
    z-index: 7;
    top: 45%;
    left: 49.5%;
    color: rgba(252, 252, 253, 0.58);
    transform: translate(-50%, -60%);
    pointer-events: auto;
    font-size: calc(6rem + 5vw);
}

.FormRegisterH2{
    position: absolute;
    z-index: 7;
    top: 45%;
    left: 49.5%;
    color: rgba(252, 252, 253, 0.58);
    transform: translate(-50%, -60%);
    pointer-events: auto;
    font-size: calc(6rem + 5vw);
}

.register_input{
    background-color: rgba(17, 25, 40, 0.57);
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: white;
}

.register_input:focus{
    background-color: rgba(17, 25, 40, 0.57);
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: white;
}

.login_input{
    background-color: rgba(17, 25, 40, 0.57);
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: white;
}

.login_input:focus{
    background-color: rgba(17, 25, 40, 0.57);
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: white;
}

.register_label{
    color: white;
}

.login_label{
    color: white;
}
