:root {
    --colore-primario:  #FF773D;
    --colore-secondario: rgb(247, 108, 16);
    --colore-terziario: rgb(245, 103, 8);
    --colore-testoNero: black;
}

body{
    background-color: var(--colore-primario);
    color: var(--colore-testoNero);
}

.myFooter{
    background-color: var(--colore-secondario);
}

.myFooterBottom{
    background-color: var(--colore-terziario);
}

