*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.logo{
    font-size: 1.7rem;
    color: white;
    font-weight: 400;
}

header{
    position: absolute;
    z-index: 9999;
    width: 100%;
    padding: 0.9rem 0;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav{
    max-width: 98%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;

}

header ul{
    display: flex;
    list-style: none;
    align-items: center;
}

header ul a{
    text-decoration: none;
    color: white;
    padding: 0 1.5rem;
    font-weight: 400;
    font-size: 1rem;
}

.dropdown{
    background-color: #222;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.search{
    background-color: #222;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 1.5rem;
}

main{
    position: relative;
    background-color: #353 ;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    pointer-events: none;
}

.parallax{
    pointer-events: none;
    transform: translate(-50%, -50%);

}

.bg_img{
    position: absolute;
    z-index: 1;
    width: 2800px;
    top: calc(50% - 390px);
    left: calc(50% + 10px);

}

.fog_1{
    position: absolute;
    z-index: 2;
    width: 1900px;
    top: calc(50% - 100px);
    left: calc(50% + 300px);
}

.mountain_10{
    position: absolute;
    z-index: 3;
    width: 870px;
    top: calc(50% + 69px);
    left: calc(50% + 230px);
}

.fog_2{
    position: absolute;
    z-index: 4;
    width: 1833px;
    top: calc(50% + 95px);
    left: calc(50% + 7px);
}

.mountain_9{
    position: absolute;
    z-index: 5;
    width: 463px;
    top: calc(50% + 119px);
    left: calc(50% - 457px);
}

.mountain_8{
    position: absolute;
    z-index: 6;
    width: 786px;
    top: calc(50% + 96px);
    left: calc(50% - 202px);
}

.fog_3{
    position: absolute;
    z-index: 7;
    width: 449px;
    top: calc(50% + 171px);
    left: calc(50% + 29px);
}

.mountain_7{
    position: absolute;
    z-index: 8;
    width: 515px;
    top: calc(50% + 134px);
    left: calc(50% + 305px);
}

.text{
    position: absolute;
    z-index: 9;
    top: calc(50% - 70px);
    left: 50%;
    text-align: center;
    color: white;
    pointer-events: auto;
}

.text h2{
    font-weight: 100;
    font-size: 6.5rem;
    line-height: 0.88;
}

.text h1{
    font-weight: 800;
    font-size: 8rem;
    line-height: 0.88;
}

.mountain_6{
    position: absolute;
    z-index: 10;
    width: 383.5px;
    top: calc(50% + 86.5px);
    left: calc(50% + 590px);
}

.fog_4{
    position: absolute;
    z-index: 11;
    width: 543px;
    top: calc(50% + 242px);
    left: calc(50% - 64px);
}

.mountain_5{
    position: absolute;
    z-index: 12;
    width: 583px;
    top: calc(50% + 269px);
    left: calc(50% + 130px);
}

.fog_5{
    position: absolute;
    z-index: 13;
    width: 1435px;
    top: calc(50% + 149px);
    left: calc(50% - 28px);
}

.mountain_4{
    position: absolute;
    z-index: 14;
    width: 717px;
    top: calc(50% + 221px);
    left: calc(50% - 381.5px);
}

.mountain_3{
    position: absolute;
    z-index: 15;
    width: 419px;
    top: calc(50% + 133px);
    left: calc(50% + 736px);
}

.fog_6{
    position: absolute;
    z-index: 16;
    width: 1418px;
    top: calc(50% + 177px);
    left: calc(50% - 30px);
}

.mountain_2{
    position: absolute;
    z-index: 17;
    width: 625px;
    top: calc(50% + 188px);
    left: calc(50% + 412px);
}

.mountain_1{
    position: absolute;
    z-index: 18;
    width: 450px;
    top: calc(50% + 91.5px);
    left: calc(50% - 601px);
}

.sun_rays{
    position: absolute;
    z-index: 19;
    top: 0;
    right: 0;
    width: 595px;
    pointer-events: none;
}

.black_shadow{
    position: absolute;
    z-index: 20;
    bottom: 0;
    right: 0;
    width: 100%;
    pointer-events: none;
}

.fog_7{
    position: absolute;
    z-index: 21;
    width: 1900px;
    top: calc(50% - 100px);
    left: calc(50% + 300px);
}





















