:root {
    --colore-primario:  #FF773D;
    --colore-secondario: rgb(247, 108, 16);
    --colore-terziario: rgb(245, 103, 8);
    --colore-testoNero: black;
}

body{

    color: var(--colore-testoNero);
}



